# Data Analysis of Crime in New York

I chose to analyse data from the dataset NYPD Complaint Data, which is comprised of all the misdemeanor, felony and violation crimes that were recorded between 2006 and 2019 by the New York Police Department.

There are over 7 million reports (rows) but I will only be loading/previewing the first 1,000 rows.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
nRowsRead = 1000

# NYPD_Complaint_Data_Historic.csv has more rows (> 7 million reports), but we are only loading/previewing the first 1000 rows

df = pd.read_csv('NYPD_Complaint_Data_Historic2.csv')
df.dataframeName = 'NYPD_Complaint_Data_Historic2.csv'
nRow, nCol = df.shape

/Applications/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Pre-processing the Data

In [3]:
# prints the total number of rows & columns
print(f'There are {nRow} rows and {nCol} columns')

There are 6983207 rows and 35 columns

In [4]:
# returns a tuple that represents the dimensionality of the dataset
df.shape

(6983207, 35)

I wanted to check the amount of missing values in the dataset.

In [5]:
# prints the count of missing values in each column
df.isnull().sum()

CMPLNT_NUM                 0
CMPLNT_FR_DT             655
CMPLNT_FR_TM              48
CMPLNT_TO_DT         1668376
CMPLNT_TO_TM         1663829
ADDR_PCT_CD             2166
RPT_DT                     0
KY_CD                      0
OFNS_DESC              18825
PD_CD                   5865
PD_DESC                 5865
CRM_ATPT_CPTD_CD           7
LAW_CAT_CD                 0
BORO_NM                10894
LOC_OF_OCCUR_DESC    1479992
PREM_TYP_DESC          39732
JURIS_DESC                 0
JURISDICTION_CODE       5865
PARKS_NM             6958159
HADEVELOPT           6637179
HOUSING_PSA          6446298
X_COORD_CD             24064
Y_COORD_CD             24064
SUSP_AGE_GROUP       4707573
SUSP_RACE            3339032
SUSP_SEX             3472346
TRANSIT_DISTRICT     6826123
Latitude               24064
Longitude              24064
Lat_Lon                24064
PATROL_BORO             6322
STATION_NAME         6826123
VIC_AGE_GROUP        1638444
VIC_RACE                 308
VIC_SEX                  307
dtype: int64

I want to see the different variable types in the dataset

In [6]:
# shows the different variable types
df.dtypes

CMPLNT_NUM             int64
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
ADDR_PCT_CD          float64
RPT_DT                object
KY_CD                  int64
OFNS_DESC             object
PD_CD                float64
PD_DESC               object
CRM_ATPT_CPTD_CD      object
LAW_CAT_CD            object
BORO_NM               object
LOC_OF_OCCUR_DESC     object
PREM_TYP_DESC         object
JURIS_DESC            object
JURISDICTION_CODE    float64
PARKS_NM              object
HADEVELOPT            object
HOUSING_PSA           object
X_COORD_CD           float64
Y_COORD_CD           float64
SUSP_AGE_GROUP        object
SUSP_RACE             object
SUSP_SEX              object
TRANSIT_DISTRICT     float64
Latitude             float64
Longitude            float64
Lat_Lon               object
PATROL_BORO           object
STATION_NAME          object
VIC_AGE_GROUP         object
VIC_RACE              object
VIC_SEX               object
dtype: object

In [7]:
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,700381962,05/28/2015,15:00:00,NaN,NaN,46.0,06/01/2015,578,HARRASSMENT 2,638.0,...,M,NaN,40.845868,-73.915888,"(40.84586773, -73.915888033)",PATROL BORO BRONX,NaN,25-44,WHITE HISPANIC,F
1,642234217,10/28/2013,13:50:00,10/28/2013,13:50:00,120.0,10/28/2013,351,CRIMINAL MISCHIEF & RELATED OF,259.0,...,NaN,NaN,40.627061,-74.077149,"(40.627060894, -74.077149232)",PATROL BORO STATEN ISLAND,NaN,45-64,WHITE,M
2,242465164,05/09/2012,20:50:00,05/09/2012,21:00:00,24.0,05/09/2012,236,DANGEROUS WEAPONS,782.0,...,NaN,NaN,40.800966,-73.969047,"(40.800965968, -73.969047272)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E
3,927207428,01/03/2014,13:30:00,01/03/2014,13:35:00,108.0,01/03/2014,109,GRAND LARCENY,409.0,...,M,NaN,40.745242,-73.894253,"(40.745241809, -73.894253382)",PATROL BORO QUEENS NORTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,M
4,492142357,04/13/2016,00:00:00,NaN,NaN,40.0,04/13/2016,351,CRIMINAL MISCHIEF & RELATED OF,258.0,...,NaN,NaN,40.810352,-73.924942,"(40.810351863, -73.924942326)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,E

I decided to drop columns I felt were not important for future data exploration, for example 'HOUSING_PSA' which contained Development Level Codes in relation to the housing projects.

I dropped rows with NaN values.

I replaced the NaN values in 'LOC_OF_OCCUR_DESC' (in or around the area where the crime was reported to have taken place) with Unknown, as well as 'VIC_RACE', 'VIC_AGE_GROUP' and 'VIC_SEX'.

In [ ]:
#dropping rows with NaN values
df.dropna(subset=['Y_COORD_CD','X_COORD_CD','Latitude','Longitude','CRM_ATPT_CPTD_CD','CMPLNT_FR_TM','Lat_Lon','CMPLNT_FR_DT','BORO_NM','OFNS_DESC'], inplace=True)

#dropping columns that are not significant for future data exploration
df.drop(['STATION_NAME','TRANSIT_DISTRICT','HADEVELOPT','HOUSING_PSA'],axis='columns', inplace=True)

df.drop(['PREM_TYP_DESC','SUSP_AGE_GROUP','SUSP_SEX','SUSP_RACE','JURISDICTION_CODE'], axis='columns', inplace=True)

df.drop(['ADDR_PCT_CD','PD_CD','PD_DESC','PATROL_BORO','CMPLNT_TO_DT','CMPLNT_TO_TM'], axis='columns', inplace=True)

In [ ]:
#replacing all NaN values in 'LOC_OF_OCCUR_DESC' with UNKNOWN
df.fillna({'LOC_OF_OCCUR_DESC':'UNKNOWN'}, inplace=True)

#replacing all NaN values in 'VIC_RACE' with UNKNOWN
df.fillna({'VIC_RACE':'UNKNOWN'}, inplace=True)

#replacing all NaN values in 'VIC_AGE_GROUP' with UNKNOWN
df.fillna({'VIC_AGE_GROUP':'UNKNOWN'}, inplace=True)

#replacing all NaN values in 'VIC_SEX' with UNKNOWN
df.fillna({'VIC_SEX':'UNKNOWN'}, inplace=True)


#check the changes
df.head()

Descriptions of the crimes are quite hard to understand, I wanted to break it down into layman's terms

In [ ]:
print(df.OFNS_DESC.unique())

df_clean = df.replace({'HARRASSMENT 2': 'HARASSMENT', 'ESCAPE 3': 'ESCAPE','ASSAULT 3 & RELATED OFFENSES':
    'ASSAULT & RELATED OFFENSES','CRIMINAL MISCHIEF & RELATED OF': 'CRIMINAL MISCHIEF','OFF. AGNST PUB ORD SENSBLTY &':
    'OFFENSES AGAINST PUBLIC ORDER/ADMINISTRATION', 'OTHER STATE LAWS (NON PENAL LA': 'OTHER STATE LAWS (NON PENAL LAW)',
                       'ENDAN WELFARE INCOMP': 'ENDANGERING WELFARE OF INCOMPETENT',
'AGRICULTURE & MRKTS LAW-UNCLASSIFIED': 'AGRICULTURE & MARKETS LAW','DISRUPTION OF A RELIGIOUS SERV': 'DISRUPTION OF A RELIGIOUS SERVICE',
                       'LOITERING/GAMBLING (CARDS, DIC': 'GAMBLING', 'OFFENSES AGAINST MARRIAGE UNCL': 'OFFENSES AGAINST MARRIAGE', 'HOMICIDE-NEGLIGENT,UNCLASSIFIE': 'HOMICIDE-NEGLIGENT','E': 'UNKNOWN',
                       'D': 'BUSINESS/ORGANIZATION','F': 'FEMALE','M': 'MALE'}).copy()

In [ ]:
df_clean.OFNS_DESC.unique()

# Data Exploration

## Types of Crimes Committed

I wanted to see the top 10 most committed crimes in New York City from 2006 to 2019.

In [ ]:
df_clean.OFNS_DESC.value_counts().iloc[:10]

I wanted to display a graph that showed crimes that occured most frequently.

In [ ]:
# Horizontal Bar Chart of Crime Types in 10's of thousands e.g. 0.2 = 20,000 
df_clean.OFNS_DESC.value_counts().iloc[:10].sort_values().plot(kind="barh",title = "Types of Crimes",color='limegreen')
plt.show()

Horizontal Bar Chart of Crime Types in 10's of thousands e.g. 0.2 = 20,000 

Petit Larceny is the crime with the highest reports with over 1.2 million reports. It is the stealing of a possession worth under fifty dollars e.g. shoplifting.

## Level of Offences: Violation, Misdemeanor & Felony

The three levels of offence in America are misdemeanor, violation and felony. This pie chart shows the percentage of each level of offence in the data.

Misdemeanor arrests have also grown substantially in recent decades, more than
doubling between 1972 and 2006 (Boruchowitz et al. 2009; Roberts 2011), at the same
time that felony arrests decreased in cities across the nation (Roeder et al. 2015; Zimring
2012).

In [ ]:
# Pie Chart of the three levels of offense in America; misdemeanor, violation and felony

labels=['Violation','Felony','Misdemeanor']
df_clean['LAW_CAT_CD'].value_counts().sort_values().plot(kind='pie', subplots=True, colors=['lightblue','seagreen','yellow'], shadow = True,startangle=45,
figsize=(10,5), autopct='%1.1f%%', explode=(0,0.1,0), labels=['','','',''], title = 'Level of Offense')

plt.legend(labels, loc="best")

plt.show()

As you can see in the pie chart, the offense that is committed the most is misdemeanor.
A misdemeanor is any crime that carries a potential punishment of prison for more than 15 days but less than 365 days.

Historically, sociologists have mostly studied felonies but in recent years the importance of studying misdemeanors has been acknowledged - <i>"The recent slew of highly-publicized negative police/citizen encounters, often precipitated by low-level enforcement have shone a spotlight on the urgent need to better understand
low-level enforcement practices from all perspectives."</i> (Barrett, C.J. and Welsh, M., 2018.)

According to (Harcourt, B.E. and Ludwig, J., 2006) this is to do with the <b>Broken Windows Theory</b>, which is when the focus is on police problem-solving e.g. police will 'crack down' on minor crimes such as vandalism in order to create a vision of law and order. 

The <b>Broken Windows Theory</b> has led to <b>disproportionate arrests</b> of Black and Hispanic youths in comparison with Caucasians and it created <b>enormous financial burden</b> on the criminal justice system by diverting limited resources for social programs to punishment and incarceration. (Kamalu, N.C. and Onyeozili, E.C., 2018.)

# Crime by Time: Hours, Months, Years

## Crime by the Hour:

In [ ]:
#reports by hour
df_clean['byhour'] = df_clean['CMPLNT_FR_TM'].str.findall('(\d{2})').apply(lambda x: x[0])
df_clean.groupby('byhour').size().plot(kind = 'bar', title ='Hourly Breakdown of Crime Reports', color = 'chartreuse', xlabel = 'hours',rot=0)

Crime rates are especially low between 5am and 6am. 

Between 12pm and 6pm is when most crime events take place; suprisingly crime rates are higher during the day rather than night. 

For example, there are more recorded crimes at 3pm than 11pm. I will analyse this in more detail in my report.

## Crime by Month:

In [ ]:

df_clean['bymonth'] = df_clean['RPT_DT'].str.findall('(\d{2})').apply(lambda x: x[0])
df_clean.groupby('bymonth').size().plot(kind = 'bar', title ='Total Crime Reports by Month', color = 'olivedrab',rot=0)

As shown in the graph, there is a positive correlation between crime and weather (Cohn, E.G., 1990.)The relationship between temperature and crime
has a rich history within the social sciences dating to the
1800s and the work of the moral statisticians (Quetelet, 1984.)

In warmer months, more crime takes place. Especially crimes such as robbery, larceny and assault. This is because <b><i>hot temperatures</b></i> cause a type of <b><i>discomfort</i></b> that may make people behave
<b><i>aggressively</i></b>. (Agnew (2012, 27–29.)) 

According to Lynch, M.J., Stretesky, P.B. and Long, M.A., 2020., the positive correlation between temperature and crime could mean that due to Climate Change, rates of crime (and especially violent crime such as assault) may rise. <i>"Long-term temperature increases could contribute 35 000 murders to the U.S.
crime rate over the next 90 years (Ranson 2014).</i>

## Crime Over the Years:

In [ ]:
# Graph showing the total number of crimes per year over the years
df_clean['byyear'] = df_clean['RPT_DT'].str.findall(r'(\d{4})').apply(lambda x: x[0])
df_clean['byyear'].value_counts().plot(kind="line", xlabel='Year', color=['darkolivegreen'], title = "Total Crime Reports by Year")

Over the years, crime rates have been consistenly dropping in New York City, as you can see in the graph from the years 2006 to 2017. 

Between 2001 and 2010, violent crime dropped 37.2% and property crime declined 37.0%. (David Weisburd, Cody W. Telep & Brian A. Lawton)

Researchers say that one of the many factors that contributed to this is the controversial <b>Stop-And-Frisk Policy</b> whereby police officers were allowed to stop, question and frisk an individual if they seemed in any way suspicious or were suspected to be carrying weapons or other contraband (Levchak, P.J., 2021.)

Stop-and-frisk in New York City:, this led to the policy coming under fire as it is a tool for <b>racial profiling</b>. (Khan, M.R., Kapadia, F., Geller, A., Mazumdar, M., Scheidell, J.D., Krause, K.D., Martino, R.J., Cleland, C.M., Dyer, T.V., Ompad, D.C. and Halkitis, P.N., 2021.)

It might be worth adding that, crime is recently <b>on the rise</b> in New York as of 2022. Reports have been released from February 2022 and almost all crime rates have risen (from the NYPD website)

## Analysing Sexual Assaults and Gender-Based Violence in New York City

In [ ]:
# Analysing the Assault section -
sexualassault_crimes = df_clean[df.OFNS_DESC.str.contains('RAPE|SEX CRIMES')]
sexualassault_crimes.head()

## Sexual Assault Reports by Year

In [ ]:
#plot graph
sexualassault_crimes.groupby('byyear').size().plot(kind = 'bar',ylabel='Reports by 1,000', xlabel='Year',rot=45, color = 'forestgreen', title = 'Sexual Assault Reports by Year')

#average assault reports per year
mean = sexualassault_crimes['byyear'].value_counts().mean()
print(round(mean,2))

Sexual assault reports have constantly risen since 2013 - there is an average of 7,443 victims of sexual assault per year.

It is worth noting that 63% of sexual assaults are not reported to the police.
Out of every 1000 rapes, only about  50 lead to an arrest or conviction.

In [ ]:
#plot graph
sexualassault_crimes.groupby('byhour').size().plot(kind = 'bar', color = 'yellowgreen', xlabel='Hour', rot=0, title = 'Sexual Assault Reports by Hour')

The highest reports of sexual assault happen between midnight and 1am. There is also a spike at 8am, and 12pm, this could possibly be due to people leaving their houses for work and lunch - walking around the city

In [ ]:
# Graph of Assaults in Parks
sexualassault_crimes['PARKS_NM'].value_counts().iloc[:5].plot(kind="barh",  color = 'olivedrab', title = 'Sexual Assault Crime in Parks',rot=0)

vic_park_per = sexualassault_crimes['PARKS_NM'].value_counts().iloc[:5] 
print(vic_park_per)

Unfortunately, due to high volume of missing data in the 'PARKS_NM' row, the exploration and visualisation of sexual assault was inconclusive. For future study on crime in New York Parks it is suggested to use a crime dataset that focuses solely on crime committed in the parks of New York City.

In [ ]:
#plot graph
#sexualassault_crimes['VIC_SEX'].value_counts().iloc[:3].plot(kind="bar",  color = 'darkseagreen', title = 'Sexual Assault Crime Victims by Gender', rot=0)
labels=['Female','Male','Unknown']
colors=['lightcoral','lightskyblue','gold']
sexualassault_crimes['VIC_SEX'].value_counts().iloc[:3].plot(kind='pie', subplots=True, colors=colors, shadow = True, startangle=45,
figsize=(10,5), autopct='%1.1f%%', labels=['','','',''], explode=(0,0.1,0), title = 'Sexual Assault Victims by Gender')

plt.legend(labels, loc="best")


#victims by gender percentage
vic_sex_per = sexualassault_crimes['VIC_SEX'].value_counts() / sexualassault_crimes['VIC_SEX'].shape[0] *100
print(vic_sex_per)

In [ ]:
#plot graph
age_group= ["<18","18-24","25-44","45-64","65+"]
sexualassault_crimes['VIC_AGE_GROUP'].value_counts(sort=False).loc[age_group].plot(kind="bar", xlabel = 'Age', color = '#2ECC71', title = 'Assault Victims by Age Group', rot=0)
#.loc[age_group]
#victims by age percentage
vic_age_per = sexualassault_crimes['VIC_AGE_GROUP'].value_counts().iloc[[0,1,2,4,5]] / sexualassault_crimes['VIC_AGE_GROUP'].shape[0] *100
print(vic_age_per)

83% of all victims are female. Women are approximately four times more likely to be victims of rape, attempted rape, or sexual assault.

Ages under 18 are at the highest risk for rape/sexual assault.

Nearly 1 in 8 youth in a juvenile detention facility were victimized: in 80% of cases, a staff member was the perpetrator.

Of the 1,224 complaints filed between 2010-2017 about incidents that took place in ICE custody, 43 were investigated.

In [ ]:
#plot graph
sexualassault_crimes['VIC_RACE'].value_counts().iloc[:7].plot(kind="barh", color = 'darkkhaki', rot=0, title = 'Assault Victims by Race')

#victims by race percentage
vic_race_per = sexualassault_crimes['VIC_RACE'].value_counts().iloc[:7] / sexualassault_crimes['VIC_RACE'].shape[0] *100
print(vic_race_per)

Black and White Hispanic residents are twice as likely to experience a rape/sexual assault compared to any other race.

More than 20 percent of black women are raped during their lifetimes — a higher share than among women overall. (The Institute for Women's Policy Research)

The struggle to protect black girls and women remains. Unfortunately, black women remain vulnerable to sexual violence due to what we call intersectionality, the systematic oppression black women experience based upon their race and gender. These institutionalized practices and policies prevent their equitable enforcement. Because of what is known as the “Strong Black Woman” archetype (Beauboeuf-Lafontant, 2009), the dangerous single story told about black women that uplifts their strength, perseverance and survival and minimizes their emotional well-being, tenderness and humanity, black women are rarely protected.

# Conclusion

By using Pandas, I analysed and visualised the open data of NYC Crime Incident Reports. This library proved to be a powerful tool in data analysis, and it’s a good way to start. I found very interesting information on the crime reports from New York City, and will analyse the results further using sociological methods.